streamlit
hugchat
anthropic
langchain
streamlit-chat
streamlit-extras
datasets
streamlit-aggrid
openai==0.28.0
tqdm
isort
black
pre-commit
retry
types-retry
configparser
python-statemachine[diagrams]
torch
turibolt
requests
transformers

